:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris_oscuro: #666;
    --Gris_claro: #ebebeb;
    --Gris_Intermedio: #d3d3d3;
    --Gris_4: #999;
    --Gris_5: #4b4b4b;
    --Verde: #39b54a;
    --letra: 'Roboto';
    --cuerpo: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripcion: 16px;
}

/* General Settings */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--letra);
    list-style-type: none;
    text-decoration: none;
}

html,body{
    background-color:var(--Amarillo);
    margin: 0px;
    width: 100%;
    height: 100%;
}

a{
    color: black;
}

header{
    width: 100%;
}

h3{
    padding:5px 0 0 0;
}

main{
    min-width: 90%;
    padding-top: 10px;
    background-color: var(--Gris_claro);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.page-container {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
  

/* Header */

#logo{
    max-width: 40%;
    margin: 10px 20px;
}

#searchBar{
    margin: 0 0 0 10px;
}

#searchButton {
    margin: -4px;
}

#inputBar {
    margin-left: 10px;
    padding: 0 0 0 0;
    width: 170px;
}


#duesText{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#banner_Img{
    max-width: 100%;
    margin:0 0 -4px 0;
}

/*Burger Button*/

.burgerButton{
    background-color: var(--Celeste);
    width: 35px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 5px auto 10px auto;
}

.burgerButton i{
    color: white;
    transform: scale(1.3);
    margin-top: 1px;
}

input[type=checkbox] {
    display: none;
}

#dropdown_List {
    display: none;
    padding: 8px 20px 8px 26px;
}

input[type=checkbox]:checked ~ #dropdown_List {
    display: block;
}

/* End Button Burger */

/* Main Section */

.product_List{
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.productImage{
    width:100%;
}

.product{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 100%;
}

.product_Detail_Preview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    border: 1px solid var(--Gris_Intermedio);
}

.product_Detail_Preview p{
    margin: 2px 0;
}

.product_Detail_Preview h5{
    margin: 5px 0;
}

.product_Detail_Preview i{
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid var(--Verde);
    padding: 6px 5px 6px 6px;
}

.shipping_DiscountColor{
    color: var(--Verde);
}

.separateThis{
    padding-bottom: 10px;
}

/* Footer Section */

footer ul {
    padding: 20px 20px 5px 20px;
    background-color: #fff;
}

footer li{
    color: var(--Gris_4);
    text-decoration: none;
    font-size: var(--descripcion);
}

.footer-text{
    display: flex;
    justify-content: center;
    text-align: center;
}

#iconsFooter ul div li i{
    color: var(--Celeste);
    font-size: 1.5rem;
}

#tituloIcon{
    color: var(--Gris_5);
    font-weight: bold;
    font-size: var(--precios);
}

#bottomSpace{
    margin-bottom: 20px;
}

#topSpace{
    margin-top: 20px;
}

#iconSpaceBottom{
    margin-bottom: 10px;
}

@media (min-width: 991px) {
    #logo{
        max-width: 10%;
        margin: 10px 20px;
    }
}